<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header class="post-header">
          <h1 class="post-title">{{ page.title | escape }}</h1>
        </header>
        {{ content }}
      </div>
      <div class="resume-viewport">
        <object data="/assets/resume-2021.pdf" width="1000" height="817" type="application/pdf"></object>
      </div>
    </main>

    {%- include footer.html -%}
    {% include open-embed.html %}
  </body>

</html>
